
.gameContainer{
  border: 5px solid;
  display: block;
  width: 505px;
  margin: auto;
  padding: 10px;
  background-color: #dddddd;
}

.gameCell{
  border: 1px solid;
  background-color: #000000;
  width: 60px;
  height: 60px;
  float: left;
  cursor: pointer;
}

.gameRow:nth-child(2n) .gameCell:nth-child(2n),
.gameRow:nth-child(2n-1) .gameCell:nth-child(2n-1){
  background-color: darkred;
}

.gameRow{
  clear: left;
}

.anchor{
  display: block;
  clear: left;
}

.clear{
	clear: both;
}

.token{
  width: 100%;
  height: 100%;
  content: ' ';
}

.neutralToken{
  background-color: darkgreen;
}

.p2Token{
  background-color: #777777;
  color: #dddddd;
  border-radius: 50%;
  width: 40px;
  height: 40px; 
  margin: 10px;
}

.p1Token{
  background-color: darkred;
  color: #dddddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px; 
}

.debug{
  font-size: 0.8em;
}

.active{
  border: 1px solid yellow;  
}
.error{
  color: darkred;
  text-align: center;
  height: 10px;
}
