.gameContainer{
  border: 5px solid;
  display: block;
  width: 505px;
  margin: auto;
  padding: 10px;
  background-color: #dddddd;
  font-family: 'Tangerine', serif;
}

.gameCell{
  border: 1px solid;
  background-color: white;
  width: 60px;
  height: 60px;
  float: left;
  cursor: pointer;
}

.gameRow:nth-child(2n) .gameCell:nth-child(2n),
.gameRow:nth-child(2n-1) .gameCell:nth-child(2n-1){
  background-color: black;
}


.gameRow{
  clear: left;
}

.anchor{
  display: block;
  clear: left;
}

.clear{
	clear: both;
}

.token{
  width: 100%;
  height: 100%;
  content: ' ';
}

.neutralToken{
  background-color: darkgreen;
}

.p2Token{
  color: #111111;
}

.p1Token{
  color: #eeeeee;
}

.active{
  border: 1px solid orange;
}
.icon{
  color: red;
  text-align: center;
  margin: auto;
  display: block;
  vertical-align: center;
  font-size: 3em;
}