.gameContainer{
  border: 5px solid;
  display: block;
  width: 505px;
  margin: auto;
  padding: 10px;
  background-color: #dddddd;
}

.gameCell{
  border: 1px solid;
  background-color: green;
  width: 60px;
  height: 60px;
  float: left;
  cursor: pointer;
}

.gameRow{
  clear: left;
}

.anchor{
  display: block;
  clear: left;
}

.clear{
	clear: both;
}

.token{
  width: 100%;
  height: 100%;
  content: ' ';
}

.neutralToken{
  background-color: darkgreen;
}

.p2Token{
  background-color: white;
  color: #111111;
}

.p1Token{
  background-color: black;
  color: #eeeeee;
}
